@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-heading: ui-sans-serif, system-ui, sans-serif;

  --color-brand-purple: #a881af;
  --color-brand-purple-light: #f5f0f6;
  --color-brand-pink: #f9a8d4;
  --color-brand-pink-light: #fdf2f8;
  --color-brand-yellow: #fde047;
  
  --color-text-main: #1f2937;
  --color-text-muted: #4b5563;
}

body {
  @apply text-text-main font-sans text-lg bg-gray-50;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading text-text-main font-semibold;
}
